:root {
    --purple: purple;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: red;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 48px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
}